.version.index /* version checker */
{
	color: #000014;
	background-color: #952DFB;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 105px 125px 465px 255px;
}

#slideshowu2041
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	position: relative;
}

#u2053
{
	position: absolute;
	background-color: transparent;
}

#u2053popup
{
	z-index: 3;
}

#u2060
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2062
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2054
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2058
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2056
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

